[submodule "single-vm-infra/dimo-apps/devices-api"]
	path = applications/devices-api
	url = https://github.com/DIMO-Network/devices-api.git
[submodule "applications/identity-api"]
	path = applications/identity-api
	url = https://github.com/DIMO-Network/identity-api.git
